<div>
    <h1>Login Administrador</h1>
    <form id="adminLoginForm">
        <label for="email">Email:</label>
        <input type="email" name="email" required />

        <label for="password">Contraseña:</label>
        <input type="password" name="password" required />

        <button type="submit">Ingresar</button>
    </form>
</div>

<script src="/js/adminLogin.js"></script>